body {
    font-size:18px;
    font-weight:400;
    margin:0;
    text-align:center;
    font-family:'Roboto' ;
    min-height: 100vh;
}

h1 {
    font-size:36px;
    margin:0;
    font-weight:900;
    

}

h2 {
    font-size:24px;
    color:#ef5839;
    font: weight 900;
}

.links {
    color:#ef5839;
}

header {
    background-color:#2e354f;
    color:#fff;
    width:100%;
    padding:100px;
    box-sizing: border-box;
}

    

.section-two {
    color:white;
    background-color:#2e354f;
    width:100%;
    box-sizing: border-box;
    padding:45px;
}

.section-two h2 {
    margin:30px 0;
}

.o , .er {
    display:inline-block;
    text-decoration: none;
    padding:15px;
    font-weight:900;
}

.btn {
    margin:0 24px;
    padding:24px 32px;
    border-radius: 4px ;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
    text-decoration: none;
    color:#fff;
}

.btn-home {
    background-color: #811701;
}

.btn-contact {
    background-color: grey ;
}

img {
    height:200px;
    width:400px;
    /* no object-fit */
    margin:0 32px;
    border-radius: 4px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
    object-fit: cover;
}
    
    
a:hover,
a:focus {
    color: #d4b44c;
}

.happy {
    font-family: 'Bangers', cursive;
}

.section {
    font-size:23px;
    
}

.btns {
    display:flex;
    justify-content: center;
    margin-top: 20px ;
    
}

.images {
    display:flex;
    justify-content: center;
    margin:64px 0;
}


